@CHARSET "UTF-8";
#musicread
{
	width : 1048px;
	height: auto;
	margin : 0;
	margin-left : auto;
	margin-right : auto;
}

#musicread_maintext
{
	width: 1048px;
	height: 200px;

	font-size : 100px;
	color : #880015;
	font-family: 'Indie Flower', cursive;
	font-family: 'Pacifico', cursive;
	font-family: 'Nanum Pen Script', cursive;

	text-align: center;
	line-height : 200px;
}

#musicread_setumei
{
	width : 994px;
	height: 25px;
	margin : 0;
	margin-left : auto;
	margin-right : auto;

	text-align: center;
	line-height : 25px;
	font-family: 'Indie Flower', cursive;
	font-family: 'Pacifico', cursive;
	font-family: 'Nanum Pen Script', cursive;

	background-color: #880015;
}

#musicread_setumei_listno
{
	width : 50px;
	height: 25px;
	margin : 0;
	margin-left : auto;
	margin-right : auto;

	color: white;
	font-size: 15px;
	float: left;
	text-align: center;
	line-height : 25px;
}

#musicread_setumei_userid
{
	width : 100px;
	height: 25px;
	margin : 0;
	margin-left : auto;
	margin-right : auto;

	color: white;
	font-size: 15px;
	float: left;
	text-align: center;
	line-height : 25px;
}

#musicread_setumei_type
{
	width : 80px;
	height: 25px;
	margin : 0;
	margin-left : auto;
	margin-right : auto;

	color: white;
	font-size: 15px;
	float: left;
	text-align: center;
	line-height : 25px;
}

#musicread_setumei_title
{
	width : 544px;
	height: 25px;
	margin : 0;
	margin-left : auto;
	margin-right : auto;

	color: white;
	font-size: 15px;
	float: left;
	text-align: center;
	line-height : 25px;
}

#musicread_setumei_date
{
	width : 120px;
	height: 25px;
	margin : 0;
	margin-left : auto;
	margin-right : auto;

	color: white;
	font-size: 15px;
	float: left;
	text-align: center;
	line-height : 25px;
}

#musicread_setumei_count
{
	width : 100px;
	height: 25px;
	margin : 0;
	margin-left : auto;
	margin-right : auto;

	color: white;
	font-size: 15px;
	float: left;
	text-align: center;
	line-height : 25px;
}

#musicread_title
{
	width : 994px;
	height: 35px;
	margin : 0;
	margin-left : auto;
	margin-right : auto;

	text-align: center;
	line-height : 35px;
}

#musicread_title_listno
{
	width : 50px;
	height: 35px;
	margin : 0;
	margin-left : auto;
	margin-right : auto;

	font-size: 13px;
	float: left;
	text-align: center;
	line-height : 35px;
}

#musicread_title_userid
{
	width : 100px;
	height: 35px;
	margin : 0;
	margin-left : auto;
	margin-right : auto;

	font-size: 13px;
	float: left;
	text-align: center;
	line-height : 35px;
}

#musicread_title_type
{
	width : 80px;
	height: 35px;
	margin : 0;
	margin-left : auto;
	margin-right : auto;

	font-size: 13px;
	float: left;
	text-align: center;
	line-height : 35px;
}

#musicread_title_title
{
	width : 544px;
	height: 35px;
	margin : 0;
	margin-left : auto;
	margin-right : auto;

	color: #880015;
	font-size: 20px;
	float: left;
	text-align: center;
	line-height : 40px;
}

#musicread_title_date
{
	width : 120px;
	height: 35px;
	margin : 0;
	margin-left : auto;
	margin-right : auto;

	font-size: 13px;
	float: left;
	text-align: center;
	line-height : 35px;
}

#musicread_title_count
{
	width : 100px;
	height: 35px;
	margin : 0;
	margin-left : auto;
	margin-right : auto;

	font-size: 13px;
	float: left;
	text-align: center;
	line-height : 35px;
}

#musicread_upbutton
{
	width : 994px;
	height: 35px;
	margin : 0;
	margin-top : 5px;
	margin-left : auto;
	margin-right : auto;
	padding-right : 10px;

	text-align: center;
	line-height : 35px;

	background-color: white;
}

#musicread_upbutton_delete
{
	width : 80px;
	height: 25px;
	margin : 1;
	margin-left : auto;
	margin-right : auto;

	border-color : #F8F0BC;

	float: right;
	font-size : 20px;
	color : #880015;
	text-align: center;
	line-height : 20px;

	font-family: 'Indie Flower', cursive;
	font-family: 'Pacifico', cursive;
	font-family: 'Nanum Pen Script', cursive;

	background-color: #F8F0BC;
}

#musicread_upbutton_update
{
	width : 80px;
	height: 25px;
	margin : 1;
	margin-left : auto;
	margin-right : auto;

	border-color : #F8F0BC;

	float: right;
	font-size : 20px;
	color : #880015;
	text-align: center;
	line-height : 20px;

	font-family: 'Indie Flower', cursive;
	font-family: 'Pacifico', cursive;
	font-family: 'Nanum Pen Script', cursive;

	background-color: #F8F0BC;
}

#musicread_upbutton_list
{
	width : 80px;
	height: 25px;
	margin : 1;
	margin-left : auto;
	margin-right : auto;

	border-color : #F8F0BC;

	float: right;
	font-size : 20px;
	color : #880015;
	text-align: center;
	line-height : 20px;

	font-family: 'Indie Flower', cursive;
	font-family: 'Pacifico', cursive;
	font-family: 'Nanum Pen Script', cursive;

	background-color: #F8F0BC;
}

#musicread_text
{
	width : 994px;
	height: auto;
	margin : 0;
	margin-left : auto;
	margin-right : auto;

	text-align: center;
	line-height : 35px;
}

#musicread_text_block
{
	width : 900px;
	height: auto;
	margin : 0;
	margin-top : 10px;
	margin-left : auto;
	margin-right : auto;
	margin-bottom : 100px;

	text-align: left;
	line-height : 35px;
}

#musicread_text_block_imgblock
{
	width : 900px;
	height: 450px;
	margin : 0;
	margin-left : auto;
	margin-right : auto;
}

#musicread_text_block_img
{
	width : 800px;
	height: 450px;
	margin : 0;
	margin-left : auto;
	margin-right : auto;
}

#musicread_downbutton
{
	width : 994px;
	height: 25px;
	margin : 0;
	margin-top : 5px;
	margin-left : auto;
	margin-right : auto;
	padding-right : 10px;

	background-color: #880015;
}

#musicread_downbutton_list
{
	width : 80px;
	height: 25px;
	margin : 1;
	margin-left : auto;
	margin-right : auto;

	border-color : #F8F0BC;

	float: right;
	font-size : 20px;
	color : #880015;
	text-align: center;
	line-height : 20px;

	font-family: 'Indie Flower', cursive;
	font-family: 'Pacifico', cursive;
	font-family: 'Nanum Pen Script', cursive;

	background-color: #F8F0BC;
}