@CHARSET "UTF-8";
#programminglist
{
	width : 1048px;
	height: 1000px;
	margin : 0;
	margin-left : auto;
	margin-right : auto;
}

#programminglist_maintext
{
	width: 1048px;
	height: 200px;

	font-size : 100px;
	color : #880015;
	font-family: 'Indie Flower', cursive;
	font-family: 'Pacifico', cursive;
	font-family: 'Nanum Pen Script', cursive;

	text-align: center;
	line-height : 200px;
}


#list
{
	width : 1048px;
	height : 610px;
	margin : 0;
	margin-left : auto;
	margin-right : auto;

	text-align: center;
}